@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  *:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px theme('colors.stone.950'), 0 0 0 4px theme('colors.amber.400');
  }
}
